.Contacts {
	margin:0 10px;
}

.contactsList {
	list-style-type: none;
	padding: 10px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
}

.contactsList li {
	flex-basis: 30px;
	text-align: center;
}

.contactsText {
	font-size: 16px;
	text-indent: 50px;
}

.gMap {
	width: 100%;
	height: 400px;
}