.posts {
	display: flex;
	flex-flow: column wrap;
	margin: 0px 10px;
	height: 3030px;
	justify-content: stretch;
	align-items: center;
}

.PostCard {
	position: relative;
	flex-basis: 480px;
	width: 280px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	margin: 20px 10px 0px 10px;
	/*background-color: grey;*/
	border: 2px ridge;
	outline: 20px solid white;
	/*box-shadow: 30px 30px;*/
}
.PostCard:hover #calendarIcon, .PostCard:hover .postFooter {
	background-color: #ff8533;
}
.PostCard:hover .fixCaution>h3 {
	color: #ff8533;
}

.PostCard img {
	transition: transform .2s;
	z-index: -5;
}
.PostCard:hover img {
	transform: scale(1.1);
}

.postHeader {
	display: flex;
	min-height: 45px;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font-size: 16px;
	position: relative;
}
.postHeader div {
	padding: 0 6px;
}
#calendarIcon {
	font-size: 32px;
	background-color: #999999;
	color: white;
}
#calendarDate {
	border-bottom: 20px solid white;
	border-left: 10px solid white;
}

.postFooter {
	height: 180px;
	background-color: #d9d9d9;
	overflow: hidden;
}


.fixCaution {
	position: absolute;
	background-color: white;
	overflow: hidden;
	right:20px;
	bottom:20px;
	width: 240px;
	height: 200px;
	text-align: left;
	padding: 5px 20px;
}
.fixCaution > h3 {
	margin: 0px;
}
.fixCautionButton {
	position: absolute;
	right: 25px;
	bottom: 25px;
}
.fixCautionButton button {
	border: none;
	background-color: white;
}
.fixCautionButton button:hover {
	color: #ff8533;
}


/*@media screen and (min-width: 575.98px) {
    .posts {
        height: 1080px;
    }
}
@media screen and (min-width: 575.98px) {
    .PostCard {
    	flex-basis: 360px;
    }
}*/

@media screen and (min-width: 575.98px) {
    .posts {
        height: 1020px;
    }
}